// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap");

$blue: #415ada;
$grey: rgba(65, 90, 218, 0.05);
$light-grey: rgba(29, 36, 82, 0.5);
$black: #1d2452;
$light-blue: #f4f4ff;
$white: #fff;
